In [66]:
import pandas as pd

In [67]:
raw = pd.read_csv('monthly_in_situ_co2_mlo.csv')
raw.columns = raw.columns.str.strip()
print(raw.columns)
raw["Date"] = pd.to_datetime(raw["Date"])

raw

Index(['Date', 'CO2'], dtype='object')

          Date     CO2
0   1970-01-15  325.06
1   1970-02-15  325.99
2   1970-03-15  326.93
3   1970-04-15  328.13
4   1970-05-15  328.08
..         ...     ...
623 2021-12-15  416.43
624 2022-01-15  418.01
625 2022-02-15  418.99
626 2022-03-15  418.45
627 2022-04-15  420.02

[628 rows x 2 columns]

In [68]:
all = raw[["Date"]].copy().set_index("Date")
    
i = 1
    
for i, year in enumerate(raw["Date"].dt.year.unique()):
    

    for group in [[1,2,3], [4,5,6], [7,8,9], [10,11,12]]:
            data = raw.loc[(raw["Date"].dt.month.isin(group)) & (raw["Date"].dt.year == year)].set_index("Date")
            all = all.join(data[["CO2"]], rsuffix="_")
        
        
all.columns = range(len(all.columns))
all.index = all.index.strftime("%Y-%m-%d")
display(all)

,0,1,2,3,4,5,6,7,8,9,...,202,203,204,205,206,207,208,209,210,211
Date,,,,,,,,,,,,,,,,,,,,,
1970-01-15,325.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-02-15,325.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-03-15,326.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-04-15,NaN,328.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-05-15,NaN,328.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,416.43,NaN,NaN,NaN,NaN
2022-01-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,418.01,NaN,NaN,NaN
2022-02-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,418.99,NaN,NaN,NaN
2022-03-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,418.45,NaN,NaN,NaN
2022-04-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,420.02,NaN,NaN

In [75]:
for i, col in enumerate(all.iteritems()):
    index_to_fill = all.iloc[:, i].dropna().index[-1]
    all.loc[index_to_fill, i+1] = all.at[index_to_fill, i]
    
display(all.head(12))
all.to_clipboard()

c:\Users\dexmc\anaconda3\lib\site-packages\pandas\core\indexing.py:1684: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  self.obj[key] = infer_fill_value(value)

,0,1,2,3,4,5,6,7,8,9,...,207,208,209,210,211,212,213,214,215,216
Date,,,,,,,,,,,,,,,,,,,,,
1970-01-15,325.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-02-15,325.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-03-15,326.93,326.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-04-15,NaN,328.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-05-15,NaN,328.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-06-15,NaN,327.67,327.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-07-15,NaN,NaN,326.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-08-15,NaN,NaN,324.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-09-15,NaN,NaN,323.10,323.10,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-10-15,NaN,NaN,NaN,323.07,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-11-15,NaN,NaN,NaN,324.01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-12-15,NaN,NaN,NaN,325.13,325.13,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN