In [1]:
import pandas as pd

In [2]:
stations = pd.read_csv('../raw/RAW 2021 ENVIRONMENT CANADA WEATHER STATIONS.csv', encoding="latin-1", header=2)

display(stations.head())

,Name,Province,Climate ID,Station ID,WMO ID,TC ID,Latitude (Decimal Degrees),Longitude (Decimal Degrees),Latitude,Longitude,Elevation (m),First Year,Last Year,HLY First Year,HLY Last Year,DLY First Year,DLY Last Year,MLY First Year,MLY Last Year
0,ACTIVE PASS,BRITISH COLUMBIA,1010066,14,NaN,NaN,48.87,-123.28,485200000,-1231700000,4.0,1984,1996,NaN,NaN,1984.0,1996.0,1984.0,1996.0
1,ALBERT HEAD,BRITISH COLUMBIA,1010235,15,NaN,NaN,48.40,-123.48,482400000,-1232900000,17.0,1971,1995,NaN,NaN,1971.0,1995.0,1971.0,1995.0
2,BAMBERTON OCEAN CEMENT,BRITISH COLUMBIA,1010595,16,NaN,NaN,48.58,-123.52,483500000,-1233100000,85.3,1961,1980,NaN,NaN,1961.0,1980.0,1961.0,1980.0
3,BEAR CREEK,BRITISH COLUMBIA,1010720,17,NaN,NaN,48.50,-124.00,483000000,-1240000000,350.5,1910,1971,NaN,NaN,1910.0,1971.0,1910.0,1971.0
4,BEAVER LAKE,BRITISH COLUMBIA,1010774,18,NaN,NaN,48.50,-123.35,483000000,-1232100000,61.0,1894,1952,NaN,NaN,1894.0,1952.0,1894.0,1952.0

In [3]:
manitoba_stations = (stations
            .loc[(stations["Province"] == "MANITOBA") & (stations["Last Year"] == 2021), "Station ID"]
            .to_list()
            )

In [4]:
li = []

for station_id in manitoba_stations:
    df = pd.read_csv('https://climate.weather.gc.ca/climate_data/bulk_data_e.html?format=csv&stationID=' + str(station_id) + '&Year=2022&timeframe=2')
    df.insert(0, "Station ID", station_id)
    li.append(df)

raw = pd.concat(li, axis=0, ignore_index=True)

In [5]:
raw

,Station ID,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,Day,Data Quality,...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow on Grnd (cm),Snow on Grnd Flag,Dir of Max Gust (10s deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
0,3463,-99.29,49.28,BALDUR,5010140,2022-01-01,2022,1,1,†,...,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1,3463,-99.29,49.28,BALDUR,5010140,2022-01-02,2022,1,2,†,...,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2,3463,-99.29,49.28,BALDUR,5010140,2022-01-03,2022,1,3,†,...,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
3,3463,-99.29,49.28,BALDUR,5010140,2022-01-04,2022,1,4,†,...,8.0,NaN,8.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
4,3463,-99.29,49.28,BALDUR,5010140,2022-01-05,2022,1,5,†,...,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29925,53118,-97.86,55.80,THOMPSON A,5062921,2022-12-27,2022,12,27,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29926,53118,-97.86,55.80,THOMPSON A,5062921,2022-12-28,2022,12,28,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29927,53118,-97.86,55.80,THOMPSON A,5062921,2022-12-29,2022,12,29,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29928,53118,-97.86,55.80,THOMPSON A,5062921,2022-12-30,2022,12,30,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29929,53118,-97.86,55.80,THOMPSON A,5062921,2022-12-31,2022,12,31,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
recent = raw.loc[raw["Date/Time"] >= "2022-04-13", :]
recent = recent.pivot(columns="Date/Time", values="Total Snow (cm)", index=["Station ID", "Station Name"]).dropna(axis=1, how="all").sort_values("2022-04-14", ascending=False).dropna(how="all").fillna(0)
recent["April 13-15"] = recent["2022-04-13"] + recent["2022-04-14"] + recent["2022-04-15"]
recent = recent.sort_values("April 13-14", ascending=False)


recent

,Date/Time,2022-04-13,2022-04-14,2022-04-15,2022-04-16,2022-04-17,April 13-14
Station ID,Station Name,,,,,,
3766,COWAN,25.0,15.0,0.0,0.0,0.0,40.0
45987,PORTAGE ROMANCE,27.6,8.2,0.6,0.0,0.0,36.4
3678,STONY MOUNTAIN,30.0,5.0,0.0,0.0,0.0,35.0
43620,PINAWA CANWARN,25.2,8.2,0.0,0.0,0.0,33.4
3609,HOLLAND,30.0,0.0,0.0,1.0,0.0,30.0
43185,WINNIPEG CHARLESWOOD 2,25.0,4.0,0.0,0.0,0.0,29.0
3667,ST LABRE,15.0,11.0,1.0,0.0,0.0,27.0
6889,SCHANZENFELD,19.0,8.0,0.0,0.0,0.0,27.0
3619,MARQUETTE,22.0,4.0,0.0,0.0,0.0,26.0
3458,ROSSBURN 4 NORTH,22.0,3.0,0.0,0.0,0.0,25.0
3457,RIVERS PETTAPIECE,12.0,2.0,0.0,0.2,0.0,14.0
50821,BRANDON A,0.0,11.2,1.4,0.0,8.2,12.6
3746,INDIAN BAY,10.0,0.0,0.0,0.0,0.0,10.0
6879,ROBLIN FRIESEN 3 NORTHWEST,1.0,2.0,0.0,0.0,0.0,3.0
53118,THOMPSON A,2.2,0.0,0.0,0.0,0.0,2.2
3519,PORTAGE LA PRAIRIE CDA,0.0,0.0,0.0,0.0,0.0,0.0